.mat-drawer {
    width: 350px;
    padding: 1em;

    .filter-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        h5 {
            text-align: center;
        }

        ng5-slider {
            flex-grow: 1;
        }
    }

    .city-filter {
        margin-top: 3em;
    }

    .categories-filter {
        min-height: 3em;
    }
}

.toggle-sidenav {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    font-size: 1.25rem;
}

@media (max-width: 900px) {
    .mat-drawer-content {
        .conferences {
            height: calc(100vh - 64px);
            padding: 1em;
            margin-right: 5%;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 1em;
        }
    }
}

@media (min-width: 900px) {
    .mat-drawer-content {
        min-height: 90vh;
        display: flex;
        .conferences {
            display: flex;
            flex-wrap: wrap;
            margin: 3em;
        }
        .conferences > * {
            margin: 1em;
        }
    }
}
