<button mat-button class="toggle-sidenav" (click)="sidenav.toggle()">
    Filters
</button>

<mat-drawer-container class="example-container">
    <mat-drawer
        #sidenav
        [mode]="(layoutService.isMobile$ | async) ? 'over' : 'side'"
        [opened]="!(layoutService.isMobile$ | async)"
    >
        <div class="filter-container search-filter">
            <mat-form-field>
                <input
                    matInput
                    type="text"
                    placeholder="Search"
                    (keyup)="handleSearchFilterKeyUp($event)"
                />
            </mat-form-field>
        </div>
        <div class="filter-container city-filter">
            <ng-multiselect-dropdown
                [settings]="citySettings"
                [data]="cityList"
                [placeholder]="'City'"
                (onSelect)="setCities($event)"
                (onDeSelect)="trimCities($event)"
                [(ngModel)]="filters.selectedCities"
            >
            </ng-multiselect-dropdown>
        </div>
        <div class="filter-container categories-filter">
            <ng-multiselect-dropdown
                [settings]="categoriesSettings"
                [data]="categoriesList"
                [placeholder]="'Category'"
                (onSelect)="setCategories($event)"
                (onDeSelect)="trimCategories($event)"
                [(ngModel)]="filters.selectedCategories"
            >
            </ng-multiselect-dropdown>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <section class="conferences">
            <app-conference-thumbnail
                *ngFor="let conference of filteredConferences$ | async"
                [conference]="conference"
            >
            </app-conference-thumbnail>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
