<mat-card class="conference-details">
    <mat-card-content *ngIf="conference$ | async as conference">
        <div
            class="conference-actions"
            *ngIf="authService.authState$ | async as user"
        >
            <ng-container *ngIf="user.isAdmin">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        (click)="handleOpenUpdateConferenceDialog(conference)"
                    >
                        <mat-icon>build</mat-icon>
                        <span>Update</span>
                    </button>

                    <button mat-menu-item (click)="handleRemove(conference)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </ng-container>
        </div>

        <mat-card-title>{{ conference.name }}</mat-card-title>

        <mat-card-subtitle>
            <p class="organizer">{{ conference.organizer }}</p>
        </mat-card-subtitle>
        <div>
            <div class="price">{{ conference.price | currency: "PLN" }}</div>

            <div style="margin: 1em">
                <mat-icon style="margin-right: 1em">event</mat-icon>
                <span>{{ conference.startDate | date }}</span>
                <span style="padding: 0.5em">-</span>
                <span>{{ conference.endDate | date }}</span>
            </div>
            <div style="margin: 1em">
                <mat-icon style="margin-right: 1em">room</mat-icon>
                <span>{{ conference.city }}</span>
            </div>
        </div>

        <div class="conference-booking">
            <div class="actions" (click)="preventNavigation($event)">
                <div class="available">
                    Available:
                    <span
                        class="limit"
                        [ngClass]="{
                            low:
                                conference.slots -
                                    getReservedPlacesCount(conference) <
                                3,
                            med:
                                conference.slots -
                                    getReservedPlacesCount(conference) >=
                                    3 &&
                                conference.slots -
                                    getReservedPlacesCount(conference) <
                                    10,
                            high:
                                conference.slots -
                                    getReservedPlacesCount(conference) >=
                                10
                        }"
                        >{{
                            conference.slots -
                                getReservedPlacesCount(conference)
                        }}</span
                    >
                </div>

                <button
                    class="decrement-btn"
                    mat-button
                    (click)="handleSubtract(conference)"
                    [disabled]="getReservedPlacesCount(conference) === 0"
                >
                    <mat-icon>exposure_neg_1</mat-icon>
                </button>

                <span
                    [style.color]="
                        getReservedPlacesCount(conference) === 0
                            ? '#ccc'
                            : 'inherit'
                    "
                >
                    Selected: {{ getReservedPlacesCount(conference) }}
                </span>

                <button
                    class="increment-btn"
                    mat-button
                    (click)="handleAdd(conference)"
                    [disabled]="
                        getReservedPlacesCount(conference) ===
                        conference.freePlaces
                    "
                >
                    <mat-icon>exposure_plus_1</mat-icon>
                </button>
            </div>
        </div>

        <p class="description">{{ conference.description }}</p>

        <span
            [style.color]="
                getReservedPlacesCount(conference) === 0 ? '#ccc' : 'inherit'
            "
        >
            Reserved places: {{ getReservedPlacesCount(conference) }}
        </span>

        <mat-list class="comments">
            <h3 mat-subheader>Comments</h3>

            <mat-list-item
                *ngIf="!conference.comments || !conference.comments.length"
            >
                <mat-icon mat-list-icon>not_interested</mat-icon>

                <p mat-line class="content">No comments yet.</p>
            </mat-list-item>

            <mat-list-item
                *ngFor="let comment of conference.comments"
                class="comment"
            >
                <mat-icon mat-list-icon>comment</mat-icon>

                <div mat-line>
                    <span class="author"> {{ comment.author }}</span>
                    <span class="timestamp">
                        {{ comment.timestamp | date: "medium" }}
                    </span>
                </div>

                <p mat-line class="content">{{ comment.content }}</p>
            </mat-list-item>

            <form
                *ngIf="getReservedPlacesCount(conference) > 0"
                novalidate
                [formGroup]="form"
                (ngSubmit)="addComment(conference)"
            >
                <mat-list-item class="add-comment">
                    <mat-icon mat-list-icon>add</mat-icon>

                    <div mat-line>
                        <mat-form-field>
                            <input
                                matInput
                                type="text"
                                placeholder="Add comment"
                                formControlName="comment"
                                id="comment"
                            />

                            <mat-error *ngIf="comment.invalid">
                                <span *ngIf="comment.errors.required"
                                    >Comment is required.</span
                                >
                            </mat-error>
                        </mat-form-field>

                        <button
                            mat-raised-button
                            color="primary"
                            [disabled]="form.invalid"
                        >
                            Add comment
                        </button>
                    </div>
                </mat-list-item>
            </form>
        </mat-list>
    </mat-card-content>
</mat-card>
