.conference-actions {
    position: absolute;
    right: 0;
}

.conference-details {
    margin: var(--frame);
}

.mat-card {
    position: relative;
}

.mat-card-content {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.details {
    font-size: 1.5em;
    width: 30%;
}

.details > * {
    padding-top: 3%;
}
.details button {
    margin-top: 6%;
}

.booking {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}
.other {
    font-size: 1.2em;
    width: 30%;
    a {
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: gray;
    }
    .in-category, .in-city{
        display: flex;
        flex-direction: column;
    }
    h4{
        margin: 1em 0 1em 0;
    }
}
.comments {
    padding-top: 8%;
    width: 100%;
}

.comments {
    margin-top: 2rem;

    .comment {
        .timestamp {
            font-size: 0.8rem;
            margin-left: 1rem;
        }
        .author {
            font-style: italic;
        }
        .content {
            margin-top: 0.2rem;
        }
    }

    .add-comment {
        margin-top: 2rem;

        .mat-form-field {
            width: 350px;
        }

        button {
            margin-left: 1rem;
        }
    }
}
