<section class="form-section add-conference-form">
    <mat-card class="form-card">
        <mat-card-title>
            Add conference
        </mat-card-title>

        <form novalidate [formGroup]="form" (ngSubmit)="createConference()">
            <mat-card-content>
                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Conference name"
                        formControlName="name"
                        id="name"
                    />

                    <mat-error *ngIf="name.invalid">
                        <!-- <div>{{ name.errors | json }}</div> -->

                        <span *ngIf="name.errors.required"
                            >Conference name is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="City"
                        formControlName="city"
                        id="city"
                    />

                    <mat-error *ngIf="city.invalid">
                        <!-- <div>{{ city.errors | json }}</div> -->

                        <span *ngIf="city.errors.required"
                            >City is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Organizer"
                        formControlName="organizer"
                        id="organizer"
                    />

                    <mat-error *ngIf="organizer.invalid">
                        <!-- <div>{{ organizer.errors | json }}</div> -->

                        <span *ngIf="organizer.errors.required"
                            >Organizer is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Contact"
                        formControlName="contact"
                        id="contact"
                    />

                    <mat-error *ngIf="contact.invalid">
                        <!-- <div>{{ contact.errors | json }}</div> -->

                        <span *ngIf="contact.errors.required"
                            >Contact is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Category"
                        formControlName="category"
                        id="category"
                    />

                    <mat-error *ngIf="category.invalid">
                        <!-- <div>{{ category.errors | json }}</div> -->

                        <span *ngIf="category.errors.required"
                            >Category is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        [matDatepicker]="startDatePicker"
                        placeholder="Choose a start date"
                        formControlName="startDate"
                        id="startDate"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="startDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>

                    <mat-error *ngIf="startDate.invalid">
                        <!-- <div>{{ startDate.errors | json }}</div> -->

                        <span *ngIf="startDate.errors.required"
                            >Start date is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        [matDatepicker]="endDatePicker"
                        placeholder="Choose a end date"
                        formControlName="endDate"
                        id="endDate"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="endDatePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>

                    <mat-error *ngIf="endDate.invalid">
                        <!-- <div>{{ endDate.errors | json }}</div> -->

                        <span *ngIf="endDate.errors.required"
                            >End date is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="number"
                        placeholder="Price"
                        formControlName="price"
                        id="price"
                    />

                    <mat-error *ngIf="price.invalid">
                        <!-- <div>{{ price.errors | json }}</div> -->

                        <span *ngIf="price.errors.required"
                            >Price is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="number"
                        placeholder="Slots"
                        formControlName="slots"
                        id="slots"
                    />

                    <mat-error *ngIf="slots.invalid">
                        <!-- <div>{{ slots.errors | json }}</div> -->

                        <span *ngIf="slots.errors.required"
                            >Slots is required.</span
                        >
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        placeholder="Event website"
                        formControlName="detailUrl"
                        id="detailUrl"
                    />

                    <mat-error *ngIf="detailUrl.invalid">
                        <!-- <div>{{ detailUrl.errors | json }}</div> -->

                        <span *ngIf="detailUrl.errors.required"
                            >Event website is required.</span
                        >
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <mat-error *ngIf="form.errors">
                    <div>{{ form.errors | json }}</div>
                    <span *ngIf="form.errors.badCredentials">
                        The username or password is invalid.
                    </span>
                </mat-error>

                <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    routerLink="/conferences"
                >
                    Cancel
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="form.invalid"
                >
                    Create
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
